<h1 class="center">Menus</h1>
<div class="center card blue-grey">
    <div class="card-content white-text">
        <h3>Create A New Menu</h3>
        <a href="/apps/new" class="btn">Create</a>
    </div>
</div>
<div class="center card blue-grey">
    <div class="card-content white-text">
        <h3>View Apps</h3>
        <a href="/apps" class="btn">All Menus</a>
    </div>
</div>
